/* rechthoek achter h1 */
.rechthoekh1 {
  position: relative;
  display: block;
  width: 210px;
  margin: 0 auto;
  padding: 10px 5px;
  z-index: 1;
  text-align: center;
}

.rechthoekh1::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 15px;
  width: 96%;
  height: 60%;
  background-color: #924246;
  z-index: -1;
}

/* rechthoek achter h2 */
.rechthoekh2 {
  position: relative;
  display: block;
  width: 220px;
  margin: 0 auto;
  padding: 10px 5px;
  z-index: 1;
  text-align: center;
}

.center-wrapper {
    text-align: center;
}

.rechthoekh2::before {
  content: "";
  position: absolute;
  top: 24.5px;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #695D5D;
  z-index: -1;
}



.mijn-afbeelding {
  width: 300px;
  height: auto;
}



/*rechthoek achter afbeelding */
.mijn-afbeelding-wrapper {
  position: relative;
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 10px 5px;
  z-index: 1;
  text-align: center;
}

.mijn-afbeelding-wrapper::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 20px;
  width: 100%;
  height: 90%;
  background-color: #924246;
  z-index: -1;
}