@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/* algemene styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2f2f2d;
}



/* achtergrond en fonts */
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color:#f3f3f3;
  padding: 2rem;
}



/* tekst */
h1 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-size:300%;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color:#f3f3f3;
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    color:#d4aeae;
}

p {
    text-align: center;
}



/* rechthoek achter h1 */
.rechthoek {
  position: relative;
  display: inline-block;
  padding: 10px 5px;
  z-index: 1;
  text-align: center;
}

.rechthoek::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 15px;
  width: 96%;
  height: 60%;
  background-color: #924246;
  z-index: -1;
}

/* header nav bar */
.header {
    position: fixed;
    top: 1;
    left: 0;
    right: 0;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

header nav a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:larger;
  color:#f3f3f3;
  text-decoration: none;
}



/* footer */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main {
    flex: 1;
    margin-top: 100px;
}

footer .socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

footer .socials a {
    color:#f3f3f3;
    text-decoration: none;
}

footer {
    display: flex;
    gap: 5rem;
    justify-content: center;
}