@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* algemene styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2f2f2d;
}

/* achtergrond en fonts */
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color:#f3f3f3;
  padding: 2rem;
}

/* tekst */
h1 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color:#f3f3f3;
  text-align: center;
  margin-bottom: 2rem;
}

p {
    text-align: center;
}

/* header nav bar */
header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

header nav a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:larger;
  color:#f3f3f3;
  text-decoration: none;
}


/* footer */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer .socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 0.5rem;
}

footer .socials a {
    color:#f3f3f3;
    text-decoration: none;
}

footer .socials a i {
    font-size: 1.5rem;
}

footer {
    display: flex;
    gap: 1rem;
}